{% extends 'base.twig' %}
{% block title %}認証 | 掲示板{% endblock %}
{% block body %}
    <div><b>ログインフォーム</b></div>
    <hr>
    {% if error %}
        <div>
            <b><u>{{ error | nl2br }}</u></b>
        </div>
    {% endif %}
    <form action="{{ path_for('admin') }}" method="post" accept-charset="utf-8">
        <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
        <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
        <div class="row">
            <div class="six columns">
                <label for="id">ID</label>
                <input name="id" type="text" value="{{ id }}">
                <label for="password">パスワード</label>
                <input name="password" type="password">
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <input type="submit" value="ログイン">
            </div>
        </div>
    </form>
{% endblock %}