{% extends 'base.twig' %}
{% block title %}設定 | 掲示板{% endblock %}
{% block stylesheets %}
    <!--[if lt IE 10]>
    <style type="text/css">.hidden {
        display: inline;
    }</style>
    <![endif]-->
{% endblock %}
{% block body %}
    <div class="row">
        <div class="three columns">
            <div>
                <form action="{{ path_for('logout') }}" method="post" accept-charset="utf-8">
                    <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
                    <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
                    <input type="submit" value="ログアウトする">
                </form>
            </div>
            <div>
                <ul>
                    <li><a href="{{ path_for('admin') }}">ログの管理</a></li>
                    <li>設定の変更</li>
                </ul>
            </div>
        </div>
        <div class="nine columns">
            <h2>設定の変更</h2>
            <hr>
            {% if error %}
                <div>
                    {{ error }}
                    {% for form_errors in errors %}
                        {% for e in form_errors %}
                            <li>{{ e }}</li>
                        {% endfor %}
                    {% endfor %}
                </div>
                <hr>
            {% endif %}
            <form action="{{ path_for('admin_config_save') }}" method="post" accept-charset="utf-8">
                <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
                <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
                <div class="row">
                    <div class="six columns" id="js-ngwords">
                        <label for="ngword">禁止ワード</label>
                        {% for c in config.ngword %}
                            <input class="u-full-width" name="ngword[]" type="text" value="{{ c }}" maxlength="50">
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="three columns">
                        <button type="button" id="js-add">追加</button>
                    </div>
                </div>

                <div class="row">
                    <div class="five columns">
                        <label for="consecutive">次の投稿までの時間（秒）</label>
                        <input class="u-full-width" name="consecutive" type="text" value="{{ config.consecutive }}"
                               maxlength="50">
                    </div>
                </div>
                <div class="row">
                    <div class="three columns">
                        <input type="submit" value="設定を保存する">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" charset="utf-8">
        var ngwords = document.getElementById("js-ngwords");
        var add = document.getElementById("js-add").addEventListener("click", function () {
            var new_input = document.createElement("input");
            new_input.setAttribute("type", "text");
            new_input.setAttribute("class", "u-full-width");
            new_input.setAttribute("name", "ngword[]");
            new_input.setAttribute("maxlength", "50");
            ngwords.appendChild(new_input);
            new_input.focus();
        });
    </script>
{% endblock %}