{% extends 'base.twig' %}
{% block title %}掲示板{% endblock %}
{% block stylesheets %}
    <!--[if lt IE 10]>
    <style type="text/css">.hidden {
        display: inline;
    }</style>
    <![endif]-->
{% endblock %}
{% block body %}
    <h1>掲示板</h1>
    <hr>
    {% if error %}
        <div>
            {{ error }}
            {% for form_errors in errors %}
                {% for e in form_errors %}
                    <li>{{ e }}</li>
                {% endfor %}
            {% endfor %}
        </div>
        <hr>
    {% endif %}
    {% if message %}
        <div>
            {{ message | nl2br }}
        </div>
        <hr>
    {% endif %}
    <form action="{{ path_for('save') }}" method="post" accept-charset="utf-8">
        <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
        <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
        <div class="row">
            <div class="six columns">
                <label for="name">名前</label>
                <input class="u-full-width" name="name" type="text" value="{{ name }}" maxlength="50">
                <label for="subject">タイトル</label>
                <input class="u-full-width" name="subject" type="text" maxlength="50">
                <label for="body">本文</label>
                <textarea name="body" class="u-full-width"></textarea>
            </div>
            <div class="six columns">
                <label for="email">メールアドレス</label>
                <input class="u-full-width" name="email" type="email" value="{{ email }}">
                <label for="url">URL</label>
                <input class="u-full-width" name="url" type="url">
                <label for="del_pass">削除パス</label>
                <input name="del_pass" type="password">
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <input type="submit" value="送信">
            </div>
        </div>
    </form>
    <hr>
    {% include 'menu.twig' %}
    <div>
        {% set offset = pagination.offset %}
        {% set count = pagination.count %}
        {% set per_page = pagination.perpage %}
        {% spaceless %}
            {% if count == 0 %}
                まだ書き込みはありません。
            {% else %}
                {{ count }}件の書き込み中
                {{ offset+1 }}
                {% if count >= (offset + per_page) %}
                    〜 {{ offset + per_page }}
                {% elseif 1 != data|length %}
                    〜 {{ count }}
                {% endif %}
                番目を表示
            {% endif %}
        {% endspaceless %}
    </div>
    <hr>
    {% for d in data %}
        <div>
            {% if d.name and d.email %}
                名前:<a href="mailto:{{ d.email }}">{{ d.name }}</a>
            {% elseif d.name == false and d.email %}
                名前:<a href="mailto:{{ d.email }}">＿</a>
            {% elseif d.name == false %}
                名前:＿
            {% else %}
                名前:{{ d.name }}
            {% endif %}
            <!-- <br> -->
            ID.{{ d.id }}<br>

            {% if d.subject %}
                <b>{{ d.subject }}</b><br>
            {% else %}
                <b>無題</b><br>
            {% endif %}

            {{ d.body | nl2br }}<br>

            {% if d.url %}
                URL: <a href="{{ d.url }}">{{ d.url }}</a><br>
            {% endif %}
            {{ d.created }}

            {% if d.del_pass %}
                <a href="javascript:void(0)" onclick="toggle(this)">削除</a>
                <div class="hidden">
                    <form action="{{ path_for('delete') }}" method="post" accept-charset="utf-8">
                        <input type="hidden" name="id" value="{{ d.id }}">
                        <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
                        <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
                        <input type="password" name="del_pass" value="" class="thin">
                        <input type="submit" value="削除" class="thin">
                    </form>
                </div>
            {% endif %}
        </div>
        <hr>
    {% endfor %}
        <div class="row">
            <div class="four columns">
                {% if pagination.enable %}
                    <ul class="pagination">
                        <li>
                            {% if pagination.firstpage %}
                            <a href="{{ path_for('home') }}?page=0" title="最初のページヘ">最初へ</a>
                            {% else %}
                                最初へ
                            {% endif %}
                        </li>
                        <li>
                            {% if pagination.firstpage %}
                            <a href="{{ path_for('home') }}?page={{ pagination.currentpage-1 }}" title="前のページヘ">前へ</a>
                            {% else %}
                                前へ
                            {% endif %}
                        </li>
                        <li>
                            {% if pagination.lastpage %}
                            <a href="{{ path_for('home') }}?page={{ pagination.currentpage+1 }}" title="次のページヘ">次へ</a>
                            {% else %}
                                次へ
                            {% endif %}
                        </li>
                        <li>
                            {% if pagination.lastpage %}
                            <a href="{{ path_for('home') }}?page={{ pagination.lastpagenum }}" title="最後のページヘ">最後へ</a>
                            {% else %}
                                最後へ
                            {% endif %}
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" charset="utf-8">
        function toggle(element, classname) {
            element.nextElementSibling.classList.toggle('hidden');
        }
    </script>
{% endblock %}